.musicFeed{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(255, 192, 203),rgb(144, 238, 144), rgb(0, 0, 255, 0.5));
}

.musicFeed header{
    padding-top: 20px;
    padding-bottom: 10px;
    background: gray;
    position: relative;
    margin-bottom: 50px;
}

.musicFeed h1{
    position: relative;
    font-family:'Nunito';
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: #f8f8f8;
    bottom: 3px;
}

.musicFeed img{
    width: 50px;
    position: absolute;
    bottom: 18%;
    border-radius: 25%;
    border: solid gray 2px;
}

.musicFeed button{
    position: absolute;
    font-size: 30px;
    border: none;
    left: 88%;
    bottom: 25%;
    color: white;
    background: gray;
    outline: none;
    cursor: pointer;
}

.musicFeed button:hover{
    color: black;
}

.musicFeed li{
    width: 25%;
    font-size: 20px;
    margin-right: 25px;
    text-align: center;
    background: lightgray;
    border-bottom: none;
}

.musicFeed li:hover{
    position: relative;
    top: 2px;
}

.musicFeed a{
    font-family: 'Nunito';
    color: black;
}

.song{
    padding: 25px;
}

.song h2{
   font-family: 'Nunito'; 
   padding: 10px;
}

.song .userName{
    font-size: 15px;
    font-family: 'Arial';
    font-weight: normal;
    color: lightslategray;
    padding:10px;
    top: 0;
    left: 2%;
}

.song audio{
    margin-bottom: 15px;
    outline: none;
}

.song .trash{
    position: relative;
    bottom: 30px;
    margin-left: 30px;
    color: gray;
    font-size: 35px;
    cursor: pointer;
    outline: none;
}

.song .trash:hover{
    color: red;
}

.song .likesContainer{
    margin-left: 10px;
}

.song .like{
    font-size: 40px;
    cursor: pointer;
    outline: none;
}

.song .like, .song .trash{
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.song .likesCount{
    position: relative;
    bottom: 5px;
    margin-left: 20px;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: auto;
}

.trending, .recent, .myMusic{
    position: relative;
    padding: 20px;
    background: white;
    box-sizing: border-box;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.trending .noSongs, 
.recent .noSongs, 
.myMusic .noSongs{
    text-align: center;
    margin: 30px auto;
    color: black;
}

.myMusic .addSong{
    position: absolute;
    top: 5%;
    left: 85%;
}

.myMusic label{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Nunito';
    background: orange;
    cursor: pointer;
    outline: none;
}

.myMusic label:hover{
    box-shadow: 0 0 5px black;
}

.myMusic input{
    visibility: hidden;
}

@media screen and (min-width: 517px){
    .song audio{
        margin-bottom: 0;
    }

    .likesContainer{
        margin-top: 20px;
    }

    .song .trash{
        bottom: 18px;
    }
}

@media screen and (min-width: 700px){
    .musicFeed button{
        left: 92%;
    }

    .myMusic .addSong{
        left: 82%;
    }
}

@media screen and (min-width: 992px){
    .musicFeed button{
        left: 95%;
    }

    .myMusic label{
        left: 95%;
    }

    .myMusic .addSong{
        left: 78%;
    }
}